<table>
    <tr>
        <td>Title:</td>
        <td>{{ book['title']}}</td>
      </tr>
      <tr>
        <td>Author:</td>
        <td>{{ book['author_firstname']}} {{ book['author_lastname']}}</td>
      </tr>
  </table>