<form #searchForm="ngForm" (ngSubmit)='submit()' novalidate>
  <table>
    <tr>
      <td>Author's Name</td>
      <td>
        <input type="text" name="author" [(ngModel)]="author" placeholder='First and/or last Name' pattern="^(?=.*[0-9])[- +()0-9]+$">
      </td>
    
        
     
    </tr>
    <tr>
      <td>Book Title</td>
      <td>
        <input  type="text" name="title" [(ngModel)]="title" placeholder='Full or partial title' pattern="^(?=.*[0-9])[- +()0-9]+$">
      </td>
      <td>
        <button type='submit' [disabled]=!title [disabled] =!author>Go </button>
      </td>
    </tr>
  </table>
</form>
<table>
  <tr>
    <td>
      <button type='button' name='prev' (click)='prev()'>Prev</button>
    </td>
    <td>
        <button type='button' name='next' (click)='next()'>Next</button>
      </td>
  </tr>
</table>
<div *ngFor="let b of books" style="padding: 5px;">
    <a [routerLink]="['/books', b.id ]">
      <h4 style="display: inline;">{{ b.title }}
      </h4>
    </a>
    
    <a [routerLink]="['/books', b.id ]">
        <img src="http://localhost:4000/{{b.cover_thumbnail}}">
      </a>
     <div> 
    <button type="button" (click)="showDetails(b.id)">
      Show
    </button>
    <h5> {{ b.author_firstname}} {{ b.author_lastname}}</h5 ></div>
  </div>